/* Brown #5e493a */
/* Orange #fb6e14 */
/* Green #000f01 */
/* Mahogany #1e0a0a */

/* General */
body
{
    font-family: "Merriweather", serif; 
    font-weight: 500;
    letter-spacing: 1px;
    background-color: white;
}

a:hover
{
    color: #fb6e14;
}

section
{
    padding-top: 80px;
    padding: 80px;
}

/* Landing Page */
#hero
{
    background-image: url("../images/pub.jpg");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.overlay
{
    position: relative;
    z-index: 2;
}

.overlay::after
{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: -1;
}

/* Navigation */
.navbar
{
    transition: all 0.4s ease;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-dark .navbar-nav .nav-link {
   text-transform: uppercase;
   font-size: 14px;
   transition: all 0.8s ease;
   font-weight: 100;
   border-bottom: 2px solid transparent;
   color: #ffffff;
}


.navbar-dark .navbar-nav .nav-link.active {
   color: #fb6e14 !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 16px;
        padding-left: 16px;
    }
}
/*About*/
#about
{
    background-image: url("../images/wood.png"); 
}

.counter .intro h1
{
    color: white;
}

.counter .text-box p
{
    font-size: 25px;
    color: white;
}

.counter a
{
    text-decoration: none;
    color: #fb6e14;
    font-size: 25px;
}

.text-box
{
    text-align: left;
    margin-left: 50px;
}

/* Reviews */
.review
{
    max-width: 950px;
    margin: auto;
    padding: 25px;
}

.review .quote
{
    font-size: 54px;
    color: #fb6e14;
}

.review p
{
    color: #5e493a;
    font-size: 35px;
}

.review h5
{
    color: #fb6e14;
}
/* Activities */
#events
{
	background-image: url("../images/crowd.png");
	background-position: center;
	background-size: cover;
}

.container .event-info h2
{
    color: white;
    font-size: 20px;
}


.container .event-info a
{
    text-decoration: none;
    color: white;
}

.container .event-info a:hover
{
    color: #fb6e14;
}

.counter .divider
{
    width: 80px;
    height: 2px;
    background-color: #fb6e14;
    margin: 18px auto;
}

.counter .intro2 h2
{
    color: white;
    font-size: 25px;
    font-style: italic;
}

.counter .dates h2
{
    color: white;
    font-size: 20px;
}

.row .counter i
{
    color: #fb6e14;
}

/* Contact */
.counter h1
{
    color: black;
    font-style: italic;
}

.counter h2
{
    color: #5e493a;
    font-size: 25px;
}

.counter i
{
    color: black;
    font-size: 40px;
    margin: 20px;
}

.counter i:hover
{
    color: black;
}

/* Contact Columns */
.wrapper
{
    padding-top: 45px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    float: left;
}

/* Contact Left Column */
.left
{
    flex: 2;
    text-align: left;
}

.left .contact3 h3
{
    font-style: italic;
    color: black;
    font-size: 27px;
}

.left .contact-info p
{
    color: black;
    font-size: 21px;
}

.left .contact-info i
{
    font-size: 27px;
}

.left .contact-info a
{
    color: black;
    font-size: 21px;
}

.left .contact-info a:hover
{
    color: #fb6e14;
}

/* Contact Right Column */
.right
{
    flex: 2;
    text-align: left;
}

.right .contact3 h3
{
    font-style: italic;
    color: black;
    font-size: 27px;
    margin-bottom: 20px;
}

.right .contact3 a
{
    text-decoration: none;
    color: black;
}

.right .contact3 a:hover
{
    color: #fb6e14;
}

.right .hours
{
    color: black;
    font-size: 21px;
}

.right .hours ul
{
    list-style-type: none;
}

.right .hours li
{
    margin-bottom: 15px;
}


/* Footer */
footer 
{
    background-color: #2a0007;
}
footer a
{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

footer a:hover
{
    color: #fb6e14;
}
